<%= render 'users/nav' %>

<div class="columns">
  <div class="column is-half is-offset-one-quarter box p-6">

    <h1 class="title is-4">New Comment</h1>

    <%= render 'form', comment: @comment, locals: { url: post_comments_path, method: "post" } %>
    <br />
    <%= link_to 'Back', root_path %>

  </div>
</div>
