<%= render "users/nav" %>

<div class="columns">
  <div class="column is-half is-offset-one-quarter box p-6">

    <h1 class="title is-5">Make a Post</h1>

    <%= render 'form', post: @post %>
    <br />
    <%= link_to 'Back', posts_path %>

  </div>
</div>
